@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home {
  position: relative;
  background-color: #f5f7fb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
.head-text {
  font-size: 32px;
  font-family: "Karla", sans-serif;
}
.start-btn {
  width: 140px;
  background-color: #4d5b9e;
  padding: 12px 36px;
  color: white;
  border-radius: 15px;
  border: none;
}
.top-blob {
  overflow: hidden;
  background: #fffad1;
  transform: rotate(-128.49deg);
  position: absolute;
  right: -60px;
  width: 230px;
  height: 230px;
  top: -60px;
  border-radius: 100%;
}
.bottom-blob {
  overflow: hidden;
  background: #deebf8;
  transform: rotate(-128.49deg);
  position: absolute;
  left: -60px;
  width: 230px;
  height: 230px;
  bottom: -60px;
  border-radius: 100%;
}
