@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}
.container {
  position: relative;
  background-color: #f5f7fb;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.head-text {
  font-size: 32px;
  font-family: "Karla", sans-serif;
}
.start-btn {
  width: 140px;
  background-color: #4d5b9e;
  padding: 12px 36px;
  color: white;
  border-radius: 15px;
  border: none;
}
.top-blob {
  overflow: hidden;
  background: #fffad1;
  transform: rotate(-128.49deg);
  position: absolute;
  right: -60px;
  width: 230px;
  height: 230px;
  top: -60px;
  border-radius: 100%;
}
.bottom-blob {
  overflow: hidden;
  background: #deebf8;
  transform: rotate(-128.49deg);
  position: absolute;
  left: -60px;
  width: 230px;
  height: 230px;
  bottom: -60px;
  border-radius: 100%;
}
.quizz-page {
  position: relative;
  /* background-color: #f5f7fb;
  height: 100vh; */
  overflow: hidden;
  padding-top: 10px;
  padding-left: 1rem;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .quizz-page {
    padding: 1rem auto;
    padding-left: 0;
  }
}
.submit-btn {
  width: 180px;
  background-color: #4d5b9e;
  padding: 12px 30px;
  color: white;
  border-radius: 15px;
  border: none;
  z-index: 2;
  margin-top: 1rem;
}
.options {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  gap: 10px;
  margin-top: 10px;
}
.each-question {
  margin: 20px auto;
  z-index: 2;
}
@media screen and (max-width: 400px) {
  .quizz-page {
    margin: auto 8px;
  }
  .each-question > h3 {
    font-size: 1rem;
  }
  .each-question > .options {
    font-size: 0.85rem;
  }
  .submit-btn {
    display: block;
    margin: 1rem auto;
  }
  .submitted > h4 {
    text-align: center;
  }
  .options {
    row-gap: 1.2rem;
  }
}
.option-input {
  display: none;
}
.option-input:checked + label {
  background-color: #d6dbf5;
}
.option-input-label {
  /* background-color: #d6dbf5; */
  background-color: transparent;
  border: 2px solid #2a3e9f;
  padding: 6px 9px;
  border-radius: 8px;
  color: #2a3e9f;
}
/* for wrong answer chosen */
.wrong-answer + label {
  background-color: rgb(213, 107, 107) !important;
  color: white;
}
.correct-answer + label {
  background-color: rgb(85, 231, 85);
}

.link-btn {
  text-decoration: none;
  color: white;
}

.link-btn:active {
  text-decoration: none;
  color: white;
}
.error-box {
  display: block;
  text-align: center;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l5 1s infinite;
}
@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}
